#Python-Data Structure Theory Question

#Q1:- What are data structures, and why are they important?
Ans:- Data structure are wayS of organizing and storing data in a computer, so that can be easilly accessed and modified efficiently.

It is more important:


1. They make the code more efficient.
2. They make simplily data manipulation.
3. They make the code easier to understand.

#Q2:-   Explain the difference between mutable and immutable data types with examples?
Ans:- Mutable data types in which data can be modified by adding and removing the element. Example: Set, list and dictonaries.

Immutable data type in which data can't be modifed by ading and removing the element. Example: Tuple and string.

#Q3:- What are the main differences between lists and tuples in Python?
Ans:- Lists are mutable which means the values are editable even after the list is being created, where as, Tuples are immutable which means tuples cannot be modified by adding or removing element.

#Q4:- Describe how dictionaries store data?
Ans:- Dictionaries are key-value pairs that allow you to store and retrieve data based on a 'unique key'. The keys must be immutable or unique, such as strings or numbers. Dictionaries are useful for storing data that needs to be accessed quickly and efficiently.

Example: dict = {"Name":"Abhinav", "Age":"21", "Gender":"Male"}

#Q5:- Why might you use a set instead of a list in Python?
Ans:- We use Set when we want the content should be unique and order of content doesn't matter, while List is used when we need to maintain the order of elements and allow duplicates.

#Q6:- What is a string in Python, and how is it different from a list?
Ans:- String is sequences of data and it is different from list because string is immutable data type while list is mutable data type. String always contain in single and doube quotes('', "").

#Q7:- How do tuples ensure data integrity in Python?
Ans:- Tuple are immutable data type that ensure that the content remains constant. which means in tuple data is unchange.

#Q8:-What is a hash table, and how does it relate to dictionaries in Python?
Ans:- A Hash Table in Python is a data structure where data is stored in an proper manner and data is stored in an array format, with every data value having an exclusive or unique index value.

#Q9:- Can lists contain different data types in Python?
Ans:- Yes, list contain different data types like String, Integer, Boolean,etc.

#Q10:- Explain why strings are immutable in Python?
Ans:- A string is assigned to the variable the value that cannot be change and modified.

#Q11:- What advantages do dictionaries offer over lists for certain tasks?
Ans:- The dictionaries stores data as key value pair which helps in retreving the data more effectively.

where as in lists the data retreiving the index postion has to be given for getting the data fromn the list while in dictionaries the retreving of data by using the key.

#Q12:- Describe a scenario where using a tuple would be preferable over a list?
Ans:- Tuple is used in the scenario where the data remain unchange. Example: id, rollno. , registration no. , etc.

#Q13:- How do sets handle duplicate values in Python?
Ans:- Set is used to remove the duplicate value in python.

Example:  set = {1,2,3,4,5,1,2,3,6,}
          print(set)
#Q14:- How does the “in” keyword work differently for lists and dictionaries?
Ans:- "in" keyword is used in list to check wheather the element is present or not in list.

Example:  my_list = [10,20,30,40]
          print("10" in my_list)

while "in" operator in dictonaries are used in zip function it tells you whether something appears or not as a key in the dictionary

Example: my_dict = {"a":"1", "b":"2","c":"3"}
         print("a" in my_dict)

#Q15:- Can you modify the elements of a tuple? Explain why or why not?
Ans:- No, we can not add, remove or modify the elements of a tuple once it is created , because the tuples are immutable data type and once the value being assigned it cannot be modified.

#Q16:- What is a nested dictionary, and give an example of its use case?
Ans:- In python, nested dictinonary is dictionary inside dictionary. It is a collection of dictionaries into one single dictionary.

It is used in cases are :
 . Offices

 . Restaurants

 . schools

 . companies

 Example: Student = {
    "student1": {"name": "Abhinav", "age": 21, "grade": "A"},
    "student2": {"name": "Ankit", "age": 24, "grade": "B"},
}

#Q17:- Describe the time complexity of accessing elements in a dictionary?
Ans:- The time complexity of accessing the element in python is on average O(1),
which means that the time it take to retrieve an element is constant, regardless of the size of the dictionary.

#Q18:- In what situations are lists preferred over dictionaries?
Ans:-
      1. If you need an ordered collection, like a sequence of user actions, then lists are useful. On the other hand, when you need quick look-ups to user data, dictionaries are invaluable.
      
  2. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

#Q19:- Why are dictionaries considered unordered, and how does that affect data retrieval?
Ans:- Dictionary is a data structure which is a important value structure, optimized for fast storage and recovery based on key. In python, dictionaries are unordered because Python dictionaries are not programmed to be in order, as simple as that.

#Q20:- Explain the difference between a list and a dictionary in terms of data retrieval?
Ans:- List is a ordered collection of data whereas a dictionary is a unordered collection of data with key-value pair. In list we can access the element using indexing that starting from zero while in a dictionary we can access the element by using the key.

In [1]:
#Practical Question
'''
Q1: Write a code to create a string with your name and print it?

Ans:

'''
name = "Bhuvan"
print("My name is :", name)

My name is : Bhuvan

In [ ]:
#Practical Question
'''
Q2: Write a code to find the length of the string "Hello World"?

Ans:

'''
string = "Hello World"
print("The length of the string is :", len(string))

The length of the string is : 11

In [ ]:
#Practical Question
'''
Q3: Write a code to slice the first 3 characters from the string "Python Programming"?

Ans

'''
string = "Python Programming"
print("The first 3 characters from the string is : ",string[0:3])

The first 3 characters from the string is :  Pyt

In [ ]:
#Practical Question
'''
Q4: Write a code to convert the string "hello" to uppercase?

Ans:

'''
string = "hello"
print("The string in uppercase is :", string.upper())

The string in uppercase is : HELLO

In [ ]:
#Practical Question
'''
Q5:  Write a code to replace the word "apple" with "orange" in the string "I like apple"?

Ans:

'''
string = "I like apple"
print("The string after replacing the word is :", string.replace("apple", "orange"))

The string after replacing the word is : I like orange

In [ ]:
#Practical Question
'''
Q6: Write a code to create a list with numbers 1 to 5 and print it?

Ans:

'''
my_list = range(1,6)
print("The list is :", list(my_list))

The list is : [1, 2, 3, 4, 5]

In [ ]:
#Practical Question
'''
Q7: Write a code to append the number 10 to the list [1, 2, 3, 4]?

Ans:

'''
my_list = [1,2,3,4]
my_list.append(10)
print("The list after appending the number is :", my_list)

The list after appending the number is : [1, 2, 3, 4, 10]

In [ ]:
#Practical Question
'''
Q8: Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

Ans:

'''
my_list = [1,2,3,4,5]
my_list.remove(3)
print("The list after removing the number is :", my_list)

The list after removing the number is : [1, 2, 4, 5]

In [ ]:
#Practical Question
'''
Q9: Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

Ans:


'''
my_list = ['a', 'b', 'c', 'd']
print("The second element in the list is :", my_list[1])

The second element in the list is : b

In [ ]:
#Practical Question
'''
Q10: Write a code to reverse the list [10, 20, 30, 40, 50]?

Ans:

'''
my_list = [10,20,30,40,50]
print("The list after reversing is :", my_list[::-1])

The list after reversing is : [50, 40, 30, 20, 10]

In [ ]:
#Practical Question
'''
Q11: Write a code to create a tuple with the elements 100, 200, 300 and print it?

Ans:

'''
my_tuple = (100,200,300)
print("The tuple is :", my_tuple)

The tuple is : (100, 200, 300)

In [ ]:
#Practical Question
'''
Q12: Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

Ans:

'''
my_tuple = ('red', 'green', 'blue', 'yellow')
print("The second-to-last element of the tuple is :", my_tuple[-2])

The second-to-last element of the tuple is : blue

In [ ]:
#Practical Question
'''
Q13: Write a code to find the minimum number in the tuple (10, 20, 5, 15)?

Ans:

'''
my_tuple = (10,20,5,15)
print("The minimum number in the tuple is :", min(my_tuple))

The minimum number in the tuple is : 5

In [ ]:
#Practical Question
'''
Q14: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

Ans:

'''
my_tuple = ('dog', 'cat', 'rabbit')
print("The index of the element is :", my_tuple.index('cat'))

The index of the element is : 1

In [ ]:
#Practical Question
'''
Q15: Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?

Ans:

'''
my_tuple = ("apple", "banana", "orange")
print("kiwi" in my_tuple)

False

In [ ]:
#Practical Question
'''
Q16: Write a code to create a set with the elements 'a', 'b', 'c' and print it?

Ans:

'''
my_set = {1, 2, 3, 4}
print("The set is :", my_set)

The set is : {1, 2, 3, 4}

In [ ]:
#Practical Question
'''
Q17: Write a code to clear all elements from the set {1, 2, 3, 4, 5}?

Ans:

'''
my_set = {1,2,3,4,5}
my_set.clear()
print("The set after clearing all elements is :", my_set)

The set after clearing all elements is : set()

In [ ]:
#Practical Question
'''
Q18: Write a code to remove the element 4 from the set {1, 2, 3, 4}.

Ans:

'''
my_set = {1,2,3,4}
my_set.remove(4)
print("The set after removing the element is :", my_set)

The set after removing the element is : {1, 2, 3}

In [ ]:
#Practical Question
'''
Q19: Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

Ans:

'''
set1 = {1,2,3}
set2 = {3,4,5}
print("The union of two sets is :", set1.union(set2))

The union of two sets is : {1, 2, 3, 4, 5}

In [ ]:
#Practical Question
'''
Q20: Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

Ans:

'''
set1 = {1,2,3}
set2 = {2,3,4}
print("The intersection of two sets is :", set1.intersection(set2))

The intersection of two sets is : {2, 3}

In [2]:
#Practical Question
'''
Q21: Write a code to create a dictionary with the keys "name", "age", and "city", and print it?

Ans:

'''
my_dict = {"name":"Bhuvan", "age":21, "city":"Etawah"}
print("The dictionary is :", my_dict)

The dictionary is : {'name': 'Bhuvan', 'age': 21, 'city': 'Etawah'}

In [ ]:
#Practical Question
'''
Q22: Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

Ans:

'''
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#Practical Question
'''
Q23: Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

Ans:

'''
my_dict = {'name':'Alice', 'age':30}
print("The value associated with the key is :", my_dict["name"])

The value associated with the key is : Alice

In [ ]:
#Practical Question
'''
Q24: Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

Ans:

'''
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict.pop("age")
print("The dictionary after removing the key is :", my_dict)

The dictionary after removing the key is : {'name': 'Bob', 'city': 'New York'}

In [ ]:
#Practical Question
'''
Q25: Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

Ans:

'''
my_dict = {'name': 'Alice', 'city': 'Paris'}
print("The key exists in the dictionary :", "city" in my_dict)

The key exists in the dictionary : True

In [ ]:
#Practical Question
'''
Q26:  Write a code to create a list, a tuple, and a dictionary, and print them all.

Ans:

'''
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 7, "b": 8, "c": 9}

print("My list:", my_list)
print("My tuple:", my_tuple)
print("My dictionary:", my_dict)

My list: [1, 2, 3]
My tuple: (4, 5, 6)
My dictionary: {'a': 7, 'b': 8, 'c': 9}

In [ ]:
#Practical Question
'''
Q27: Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced).

Ans:

'''
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]

random_numbers.sort()

print("The sorted list of random numbers is:", random_numbers)

The sorted list of random numbers is: [31, 39, 80, 88, 95]

In [ ]:
#Practical Question
'''
Q28: Write a code to create a list with strings and print the element at the third index.

Ans:

'''
my_list = ["Abhinav", "Ankit", "Anupam", "Raj", "Neha"]
print("The element at the third index is:", my_list[3])

The element at the third index is: Raj

In [ ]:
#Practical Question
'''
Q29: Write a code to combine two dictionaries into one and print the result.

Ans:

'''
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

combined_dict.update(dict2)

print("The combined dictionary is:", combined_dict)

The combined dictionary is: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#Practical Question
'''
Q30: Write a code to convert a list of strings into a set.

Ans:

'''
my_list = ["apple", "banana", "orange"]
my_set = set(my_list)
print("The set is:", my_set)

The set is: {'apple', 'banana', 'orange'}